# Port configuration
PORT=3000

# Razorpay credentials
RAZORPAY_KEY_ID=rzp_live_SwFaJKQjU5ZOsH
RAZORPAY_KEY_SECRET=YOUR_RAZORPAY_SECRET_HERE

## SMS API credentials (SMS Gateway Hub)
SMS_API_KEY=YOUR_SMS_API_KEY_HERE
SMS_SENDER_ID=HMFACLI
SMS_TEMPLATE_TEXT="Your OTP for registering on Superhome is: {otp}.\nThis code is valid for the next 10 minutes.\nThank You,\nSuper Home"
SMS_DLT_TEMPLATE_ID=1207173589889308632
SMS_ENTITY_ID=1201173444411453897

# MySQL Connection Credentials (BigRock Host)
MYSQL_HOST=homefaciliti.com
MYSQL_USER=homef4fw_homefaci
MYSQL_PASSWORD=YOUR_DB_PASSWORD_HERE
MYSQL_DATABASE=homef4fw_homefaci
MYSQL_PORT=3306
